 <!-- About Section -->
    <section class="success" id="about">
        <div class="container">
            <div class="row">
                <div class="col-lg-12 text-center">
                    <h2>About</h2>
                    <hr class="star-light">
                </div>
            </div>
            <div class="row">
                <div class="col-lg-8 col-lg-offset-2">
                    <p>I am a computer science graduate from IIT kharagpur class of 2019. I currently work as a software developer at Tower Research Capital, a High Frequency Trading firm. I am intrigued by the world of Distributed systems and Big Data Processing; having done multiple relevant courses and internships in the domain.</p>
                </div>
                <div class="col-lg-8 col-lg-offset-2">
                    <p>In my free time I can be found cheering for my favourite driver on a grand prix circuit or binge watching my favourite series on Netflix. Being an avid investor ( albeit a small one ), I also like to spend my time learning about financial markets and their idiosyncrasies.</p>
                </div>
                <div class="col-lg-8 col-lg-offset-2 text-center">
                    <a href="https://drive.google.com/file/d/1N7Tya2RenDedHT2lnP45qpwFfU5kAOpP/view?usp=sharing" class="btn btn-lg btn-outline">
                        <i class="fa fa-download"></i> Résumé
                    </a>
                </div>
            </div>
        </div>
    </section>
